* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
      --primary-color: rgb(122, 4, 4);
      --secondary-color:lightgrey;
      --tertiary-color:black;
    }
  
    body {
        /* more on this crazy alphanumerical value in a minute! */
        color: var(--secondary-color);
        font-family: Helvetica, Arial, sans-serif;
    }

    header {
        padding: 10px 35px;
        background-color: var(--secondary-color);
        display: flex;
        justify-content: space-between;
        top: 0;
    }

    header h1 {
font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--secondary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    header a {
        text-decoration: none;
        color: var(--primary-color);
      }
    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
      
      header nav ul li a {
        margin: 0 30px;
        font-weight: lighter;
        font-size: 3.00vw;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      
      header nav ul li a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
      }

      .hero { 
          background-image: url('../images/HERO.jpg');
          height: 400px;
          background-size: cover;
          background-position: center;
          position: relative;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
      }

      .hero-cta {
        display: flex;
        color: var(--secondary-color);
        font-size: 70;
        font-weight: bolder;
        font-family: fantasy;
      } 

      .section-title {
        display: flex;
        align-items: center;
        justify-content: center; 
        color: var(--primary-color);
        position: relative;
        background-size: cover;
        font-size: 70px;

      }

     .runbuddy-img {
        justify-content: center;
        align-items: center;
        width: 821px;
        height: 300px;
        margin: 50;
      }